.ruoyi-git,
.ruoyi-doc {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.65);
  font-size: 18px;
  transition: all 0.3s;

  &:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
